.margin-lr-0 {
    margin-left: 0px;
    margin-right: 0px;
}

.columns-container #center_column .cat_cont {
    display: inline-block;
}

.cat_cont {
    margin: 0px;
    background-color: transparent;
    border: none;
    padding-top: 0px;
    padding-bottom: 20px;
}

.margin-top-7 {
    margin-top: 7px;
}

.catSortBlock {
    margin-bottom: 15px;
}

.catSortBlock .filter_dw_cont {
    position: relative;
}

.catSortBlock .filter_dw_cont .dropdown-menu {
    left: 0;
}

#left_column {
    position: sticky;
    top: 36px;
}

.sortBlockHeading {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
    text-align: left;
}

.disp_type_cont {
    text-align: center;
    margin-top: 10px;
}

.filter_dw_cont button {
    width: 100%;
    text-align: left;
}

.display_type {
    background-position: 25px 170px;
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-right: 10px;
}

.room_cont {
    border: none;
    padding-top: 15px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
    /* box-shadow: -5px 4px 6px rgba(0, 0, 0, 0.15); */
}

.room_cont .btn.btn-default.button.button-medium {
    transform: translate(0px, 6px);
}

#category_data_cont {
    padding-top: 20px;
}

#category_data_cont .room_cont .btn.btn-default.button.button-medium {
    position: relative;
    width: fit-content;
}

#category_data_cont .room_cont .ocupancy .capa_data {
    margin-left: 0px;
}

.room_cont p.ocupancy {
    text-align: center;
}

.room_cont a img {
    width: 100%;
}

.rm_heading {
    color: #333333;
    text-align: center;
    margin-bottom: 10px;
}

.rm_desc {
    line-height: 22px;
    color: #555555;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.rm_desc p {
    display: inline;
}

.rm_desc a {
    text-decoration: none;
    color: #379BF0;
}

.capa_txt {
    color: #333333;
    font-style: normal;
    font-weight: 300 !important;
    font-size: 14px !important;
    text-align: center;
}

.capa_data {
    color: #555555;
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
}

.rm_review_cont {
    margin-bottom: 15px;
}

.rm_ratting_yes {
    background-position: -2px 18px;
    display: inline-block;
    height: 18px;
    width: 24px;
}

.rm_ratting_no {
    background-position: 26px 18px;
    display: inline-block;
    height: 18px;
    width: 24px;
}

.rm_review {
    margin-left: 10px;
    font-size: 14px;
    color: #555555;
    font-weight: 400;
}

.rm_amenities_cont {
    background-color: transparent;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
    clear: both;
}

#category_data_cont .room_cont .rm_amenities_cont {
    padding: 7px;
}

.rm_amenities_cont .icon {
    color: #003380;
    font-size: 8px !important;
    padding-right: 4px;
}

.rm_amenities_cont .amenity_name {
    font-style: normal !important;
    font-weight: 300 !important;
}

.rm_left {
    color: #e85757;
    font-size: 16px;
    font-weight: 400;
    padding-top: 5px;
}

.rm_amen {
    height: 15px;
    width: 15px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 3px;
}

.rm_price_val {
    clear: both;
    color: #333333;
    font-size: 32px;
    font-weight: 400;
    line-height: 25px;
}

.rm_price_txt {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    padding-top: 6px;
}

.rm_price_cont {
    clear: both;
    margin-top: 10px;
}

#category_data_cont .room_cont .rm_price_cont {
    position: relative;
    width: 100%;
    margin: 0px;
    margin-bottom: 30px;
}

#category_data_cont .room_cont .rm_price_cont .rm_price_val {
    position: relative;
    width: 100%;
    font-family: Fieldwork;
    font-size: 22px !important;
    line-height: 31px;
    color: #003380
}

#category_data_cont .room_cont .rm_price_cont .rm_price_txt {
    position: relative;
    width: 100%;
    padding: 0px;
    font-family: Fieldwork;
    font-size: 14px !important;
    line-height: 20px;
    color: #003380
}

.rm_qty_cont {
    width: 120px;
    margin-right: 15px;
}

#category_data_cont .room_cont .rm_qty_cont {
    position: relative;
    width: 100%;
    height: 51px;
    margin-right: 0px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #cccccc;
}

.qty_txt {
    color: #333333;
    float: left;
    font-size: 16px;
    font-weight: 400;
    transform: translate(0px, 15px);
}

#category_data_cont .room_cont .rm_qty_cont .qty_txt {
    transform: translate(0px, 0px);
    line-height: 32px;
}

.qty_sec_cont {
    width: 80px;
    margin: 0px 0px 0px 5px;
    float: left;
}

#category_data_cont .room_cont .rm_qty_cont .qty_sec_cont {
    width: 131px;
    margin: 0px 0px 0px 5px;
    float: right;
}

.qty_input_cont {
    width: 57px;
    float: left;
}

#category_data_cont .room_cont .rm_qty_cont .qty_input_cont {
    width: 41px;
    height: 31px;
}

#category_data_cont .room_cont .rm_qty_cont .qty_input_cont input {
    width: 41px;
    height: 31px;
    z-index: 1;
    border: none;
    background-color: #E2E2E2;
}

.qty_input_cont input {
    color: #3c3c3c;
    font-size: 20px;
    height: 23px;
    padding: 1px 10px;
}

.qty_direction {
    width: 22px;
    float: left;
}

#category_data_cont .room_cont .rm_qty_cont .qty_direction {
    display: flex;
    width: min-content;
    border-radius: 50px;
    box-shadow: 0px 4.46452px 4.46452px rgba(0, 0, 0, 0.25) !important;
}

.qty_direction a {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    padding: 12px 5px !important;
    height: 12px !important;
    position: absolute;
}

#category_data_cont .room_cont .rm_qty_cont .qty_sec_cont a.cat_rm_quantity_up {
    position: relative;
    margin: 0px !important;
    padding: 0px !important;
    width: 45px;
    height: 31px !important;
    border-top-left-radius: 0% !important;
    border-bottom-left-radius: 0% !important;
    background-color: #E2E2E2 !important;
    box-shadow: none !important;
}

#category_data_cont .room_cont .rm_qty_cont .qty_sec_cont a.cat_rm_quantity_down {
    position: relative;
    margin: 0px !important;
    padding: 0px !important;
    width: 45px;
    height: 31px !important;
    border-top-right-radius: 0% !important;
    border-bottom-right-radius: 0% !important;
    background-color: #E2E2E2 !important;
    box-shadow: none !important;
}

#category_data_cont .room_cont .rm_qty_cont .qty_sec_cont a span {
    line-height: 34px;
    color: #8B8B8B;
}

.display-inline {
    display: inline-block;
}


/* quantity_wanted */

#cat_rm_quantity_wanted input {
    width: 78px;
    height: 27px;
    padding: 0 6px;
    float: left;
    border: 1px solid #d6d4d4;
    line-height: 27px;
}


/*#quantity_wanted_p .btn {
  float: left;
  margin-left: 3px; }*/

#cat_rm_quantity_wanted .button-minus {
    float: left;
    margin-right: 5px;
    padding-top: 3px;
}

#cat_rm_quantity_wanted .button-plus {
    float: left;
    margin-left: 5px;
    padding-top: 3px;
}

.noRoomsAvailAlert {
    margin-bottom: 20px;
    background-color: #ffa0a0;
    border: 1px solid #cccccc;
    color: #9f1010;
    display: block;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 5px;
    text-align: center;
}

.room_type_old_price {
    text-decoration: line-through;
    color: #e85757;
    font-size: 18px;
}