#left_column {
    display: none;
}

#features .amenity {
    background-color: #EDEDED;
    border-radius: 0 10px 10px 0;
    box-shadow: -6px 0px 8px rgba(0, 0, 0, 0.25);
    margin-bottom: 45px;
}

#features .amenity .media {
    height: 400px;
    background-size: cover;
    background-position: 50% 50%;
}

#features .amenity .media-heading {
    color: #000;
    text-align: center;
    padding-top: 12px;
}

#features .amenity .media-body p {
    font-family: Fieldwork;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 35px;
}

hr {
    border: 0.5px solid #8B8B8B;
    margin-bottom: 15px;
    margin-top: 15px;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}