#rss_block_left h1 {
    color: #373737;
    margin-bottom: 32px;
}

#news-home {
    height: auto;
    width: 100%;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

#news-home li.news-item {
    display: block;
    padding-bottom: 35px;
}

.news-overlay {
    background-color: #000;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 98;
    opacity: 0.2;
}

#news-popup {
    background-color: #fff;
    position: fixed;
    z-index: 300;
    border-radius: 4px;
    width: 50vw;
    height: fit-content;
    margin: 0px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-top: 15px;
    padding-bottom: 15px;
}

.news-content-popup img {
    width: 100%;
}

#news-popup .cross {
    right: -12px !important;
    top: -12px !important;
    background: white;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: #333;
    z-index: 2;
}

#news-popup .cross:before {
    content: "\f057";
    display: block;
    font-family: "FontAwesome";
    font-size: 33px;
    line-height: 33px;
    color: #003380;
    transform: translate(-5%, -10%);
}

#news-home li.news-item h3 {
    color: #1F1F1F;
}

#news-home .news-item a {
    width: 100%;
    height: auto;
    display: block;
}

#news-home .news-item a img.news-thumb {
    width: 100%;
    height: auto;
}

#news-home .news-item a.news-link p {
    color: #1F70D1;
}