#experiences
  .cover
    width: 100%
    height: 570px
    background-image: url('../static/img/hacienda1800-experiences-cover-kayak.png')
    background-position: 50% 70%
    background-attachment: fixed
    background-size: cover
    background-repeat: no-repeat
    display: flex
    align-items: center
    justify-content: center
    .title
      border: 1px solid #ffffff
      padding: 23px 74px
      p
        @include font-bold
        font-size: 60px
        color: #fff
        margin: 0
        padding: 0

