#princ-navbar
    .row
        align-items: unset
        .nav-tab
            position: relative
            top: 50%
            transform: translate(0%, -50%)
            height: fit-content
            border-right: 1px solid #8B8B8B
            border-left: 1px solid #8B8B8B
            @include font-bold
            font-size: 24px
            line-height: 24px
            color: #d2d1d2
            &.bright
                border-right: unset
            &.bleft
                border-left: unset
            &.nav-tab-active
                color: #373737
        @media screen and ( max-width: 768px )
            .nav-tab
                font-size: 11px
                border: 1px solid #000000 !important
                margin-left: 5px
                margin-right: 5px
    @media screen and ( max-width: 768px )
        .no-gap
            --f7-grid-gap: unset
            --f7-grid-row-gap: unset
.view
    .navbar
        .row
            align-items: unset
            .toolbar
                background-color: #ffffff
                .tab-link-highlight
                    display: none
                .tab-link
                    position: relative
                    top: 50%
                    transform: translate(0%, -50%)
                    height: fit-content
                    border-right: 1px solid #8B8B8B
                    border-left: 1px solid #8B8B8B
                    @include font-bold
                    font-size: 24px
                    line-height: 24px
                    color: #d2d1d2
                    &.tab-link-active
                        color: #373737
                    &.bright
                        border-right: unset
                    &.bleft
                        border-left: unset
                &:before,&:after
                    content: none
                @media screen and ( max-width: 768px )
                    .tab-link
                        font-size: 20px
                        border: none !important

            
                