#princ-navbar
    .row
        /* align-items: unset */
        .nav-tab
            position: relative
            top: 50%
            transform: translate(0%, -50%)
            height: fit-content
            border-right: 1px solid #8B8B8B
            border-left: 1px solid #8B8B8B
            @include font-bold
            font-size: 24px
            line-height: 24px
            color: #d2d1d2
            &.bright
                border-right: unset
            &.bleft
                border-left: unset
            &.nav-tab-active
                color: #373737
        @media screen and ( max-width: 768px )
            .nav-tab
                font-size: 11px
                border: 1px solid #000000 !important
                margin-left: 5px
                margin-right: 5px
    @media screen and ( max-width: 768px )
        .no-gap
            --f7-grid-gap: unset
            --f7-grid-row-gap: unset
.view
    .navbar
        .row
            align-items: unset
            .toolbar
                background-color: #ffffff
                .tab-link-highlight
                    display: none
                .tab-link
                    position: relative
                    top: 50%
                    transform: translate(0%, -50%)
                    height: fit-content
                    border-right: 1px solid #8B8B8B
                    border-left: 1px solid #8B8B8B
                    @include font-bold
                    font-size: 24px
                    line-height: 24px
                    color: #d2d1d2
                    &.tab-link-active
                        color: #373737
                    &.bright
                        border-right: unset
                    &.bleft
                        border-left: unset
                &:before,&:after
                    content: none
                @media screen and ( max-width: 768px )
                    .tab-link
                        font-size: 20px
                        border: none !important
    #tours
        .navbar
            width: 90%
            margin-left: auto
            margin-right: auto
            right: 0px
            .toolbar-inner
                height: 65px
            .tab-link
                height: 100%
                border: none
                p
                    @include font-bold
                    font-size: 40px
                    line-height: 39px
                    letter-spacing: 0.3em
                    color: #fff
                    background: rgba(255, 255, 255, 0.2)
                    box-sizing: border-box
                    margin-left: auto
                    margin-right: auto
                    border: 1px solid #ffffff
                    width: 70%
                    height: 35px
                    text-align: center
                &.tab-link-active
                    filter: saturate(0)

            
                